= render @question

.answers
  = render @question.answers if @question.answers.any?

.answer-errors
  - if @answer&.errors&.any?
    = render 'shared/errors', resource: @answer

= render 'answers/form', answer: @answer || @question.answers.new
