.answer-errors(style="display: none;")
  = render 'shared/errors', resource: @answer if @answer&.errors&.any?

= form_with model: [@question, @answer],
            class: 'new answer',
            data: { turbo: false },
            html: { class: 'new-answer-form' } do |f|
  = f.label :body
  = f.text_area :body, id: 'answer_body'
  = f.submit 'Create answer'
